<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="1" name="Carina Demo Tests - Web tests" skipfailedinvocationcounts="false" junit="false" parallel="tests" data-provider-thread-count="50" annotations="JDK">
	
	<parameter name="suiteOwner" value="demo"/>

	<parameter name="zafira_project" value="DEMO-WEB" />
	<parameter name="jenkinsJobCreation" value="true" />
	<parameter name="jenkinsJobFolder" value="DEMO" />
	<parameter name="jenkinsJobName" value="Web-Demo-Test" />
	<parameter name="jenkinsEnvironments" value="DEMO" />
	<parameter name="jenkinsEmail" value="demo@denatalia.eu.pn" />

	<listeners>
		<listener
			class-name="com.denatalia.booking.AnnotationTransformer" />
	</listeners>

	<test name="auto baraholka tests">
		<classes>
			<class name="com.denatalia.booking.AutoBaraholkaTest" />
		</classes>
	</test>

</suite>